.gameScore {
  text-align: center;
  height: 70px;
  position: relative;
  line-height: 1em;
  padding: 0;
  margin: auto;
}
div.gameScore {

}

h2.score {
  margin-top: 5px;
  padding: 0;
}
h3.status{
  margin: 0;
  padding: 0;
}
