.wrapper {
  padding-top: 10px;
  /* background: #ECEFF1; */
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  /* padding-left: 200px;
  padding-right: 200px; */
  justify-content: space-around;
  /* align-content: flex-start; */
  overflow: auto;
  margin-left: auto;
margin-right: auto;
width: 1000px;
}
