.card {
  background: rgb(236, 6, 6);
  border-radius: 200px;
  height: 200px;
  margin: 1rem;
  margin-top: 19px;
  position: relative;
  width: 290px;
  box-shadow: 0 3px 6px rgb(45, 243, 5), 0 3px 6px rgb(209, 218, 208);
  overflow: hidden;
}

/* Slide */
.hover img {
  margin-left: 10px;
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.hover img:hover {
  margin-left: -30px;
}
